body{
	background-color: #007FAE;
}

h5,p,form{
	color: white;
}

h1,h2{
	color: white;
	text-align: center;
}

.png{
	height:100px;
	width: 100px;
	margin-right:50px;
	margin-left:50px;
	border: solid 1px white;
}

.logos{
	margin-left: 350px;
}